*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}


html{
    font-size: 62.5%;
}
body{
    background-image: linear-gradient(to bottom, rgb(245, 247, 250) 0%, rgb(195, 207, 226) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


:root{
    scroll-behavior: smooth;
}

.menu-navegacion{
    z-index: 1;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    transform: translate(110%);
}

.spread{
    transform: translate(0);
}

.menu-navegacion a{
    color: #fff;
    text-decoration: none;
}

.titulo{

    font-family: 'Poppins',;
    margin: 1rem 1.7rem 1.5rem;
    padding: .5rem;
    color: black;
}

.logo{
    margin-top: 4rem;
    width: 12rem;
    z-index: 1;
}

.ola{
    margin-top: -1px;
}
.hola{
    margin-bottom: -1px;
}


h1{
    font-family: 'Poppins';
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}

h2{
    font-family: 'Poppins';
    font-size: 3rem;    
    font-weight: 600;
}

h3{
    font-family: 'Poppins';
    font-size: 2.2rem;
    font-weight: 700;    
}

p{
    font-family: 'Poppins';
    font-size: 1.8rem;
    font-weight: 500;
    margin: 1rem;
}


a{
    font-family: 'Poppins';
}

.sstit{
    font-family: 'Poppins';
    color: black;
    margin: 0rem 1.7rem 1.5rem;
    text-align: center;
    font-size: 1.6rem;
}

.inicio{
    display: flex;
    flex-direction: column;
}


.idioma{
    text-align: center;
    font-size: 2rem;
    color: #fff;
    margin: auto;
}

.lengua a{
    border-bottom: 1.3px solid #303440;
    margin: .5rem;
}

.nav-a, .menu-nav{

    font-size: 2rem;
    display: flex;
    justify-content: center;
}





/* Servicios */

.logoDiv{
    padding: 1.4rem;
    height: 12rem;
    width: 100%;
    background-color: #d4cc5a;
    display: flex;
    align-items: center;
}

.lema{
    font-weight: 700;
    text-align: center;
    margin: auto;
    padding: 2rem;

}

.contenedor{
    padding: 0 3rem 4rem;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0rem auto;
}

.contenedor p{
    padding: 1rem 2rem;
}


.hamburger{
    z-index: 1;
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}


.descHead{
    margin-top: -12rem;
    padding: 2rem;
}
.descHead p{
    width: 80%;
    font-family: 'Poppins';
    margin: auto;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}

.bgGrey{
    background-color: #30344071;
    width: 80%;
    margin: 0 auto;
    border-radius: 2rem;
}

.carousel-caption{
    position: absolute;
    right: 10%;
    left: 10%;
}


.todasDescTipos{
    background-color: #a2a2b1;
    padding: 2rem 2.5rem;
}


.tiposMantenimiento{
    margin: auto;
    width: 70%;
    background-color: #d4cc5a;
    padding: .5rem 1.3rem;
    border-radius: 1rem;

}

.tiposMantP{
    margin: 1.5rem auto;
    text-align: center;
    width: 80%;
    color: #fff;
}

.descTipos{
    text-align: center;
    margin-top: 2rem;
}

#carouselExampleCaptions{
    width: 99%;
    margin: auto;
}
.carousel-indicators{
    z-index: 0;
}
.carousel-control-next, .carousel-control-prev{
    z-index: 0;
}



.header{
    margin-bottom: 2rem;
    height: 500px;
    width: 100%;
    background-image: url(../img/Diseño\ sin\ título.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    animation: animate 30s infinite;
}


@keyframes animate{
    25%{
        background-image: url(../img/2.jpg);
        background-size: cover;
        animation: animate 20s ease-in-out;
    }

    50%{
        background-image: url(../img/4.jpg);
        background-size: cover;
        animation: animate 10s infinite;
    }

}


/* Servicios */

.redes{
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
    background-image: linear-gradient(120deg, #7b92c9 0%, #c6f00b 100%);
    border-radius: 1rem;
    padding: 3px;
    border: solid 1px;

}

.subtitulos{
    color: white;
    font-size: 3rem;
    font-weight: 800;
}

.subtitulo{
    margin: 3rem;
    color: #BBB27F;
    font-size: 3rem;
    font-weight: 800;
}

.carousel{
    margin: 2rem;
}

    
.ultImg{
    display: flex;
    width: 90%;
    margin: 3rem auto;
    border-radius: 1rem;
}

    
/* Footer */
footer{
    background-color: #a2a2b1;
    padding-bottom: .5rem;    
}

.footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1.8rem 4rem;
}

.contact-us{
    width: 30rem;
    color: #000000;
}

.brand{
    font-weight: 500;
    font-size: 4rem;
}


.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin: auto;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon:hover{
    background: #fff;
    color: #764ba2;
    transition: .5s;
    transform: scale(1.4);
}

.social-media-icon i{
    font-size: 28px;
    line-height: 2.8rem;
}

.datos p{
    text-align: center;
    font-size: 1.5rem;
}


.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin: 3rem auto 4rem;
}


.foo{
    text-align: center;
    margin: 1rem;
    font-size: 1.5rem;
}

.pFoo{
    text-align: center;
    margin: 1rem;
    font-size: 1.2rem
}

.Martin{
    color: black;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    margin: 1rem;
    font-size: 1.2rem;
}

@media screen and (max-width:800px){
    .menu-navegacion{
        width: 50vw;
    }

    .hamburger{
        top: 4.5rem;
    }


    .lema{
        width: 27rem;
        font-size: 2.5rem;
        padding: 0 3rem;
    }

    .titulo{
        font-size: 3rem;
    }


    .servi{
        font-weight: 500;
        margin: 1rem;
    }


    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media i{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 4rem;
    }
}

@media screen and (max-width:641px){
    #carouselExampleCaptions{
        margin: auto;
    }
    .bgGrey{
        height: auto;
        width: 99%;
        margin:-1rem auto;
    }
    .bgGrey h2{
        font-size: 2rem;
    }
    .bgGrey p{
        font-size: 1.8rem;

    }
    .carousel-indicators{
        z-index: 0;
        margin: 0;
    }
    .carousel-caption{
        padding: 0;
    }
    .carousel-control-next, .carousel-control-prev{
        z-index: 0;
        opacity: 0;
    }
    .carousel-caption{
        right: 0;
        left: 0;
    }
}


@media screen and (max-width:500px) {
    .menu-navegacion{
        width: 65vw;
    }

    .hamburger{
        top: 3rem;
        right: 2rem;
    }

    .lema{
        width: 20rem;
        font-size: 2rem;
    }

    .titulo{
        font-size: 2.7rem;
    }

    .subtitulo{
        font-size: 3rem;
    }

    .brand{
        font-size: 3.5rem;
    }


    #carouselExampleCaptions{
        margin: auto;
    }
    .bgGrey{
        height: 28%;
        width: 98%;
        margin:-1rem auto;
    }
    .bgGrey h2{
        font-size: 1.6rem;
        margin: 0;
    }
    .bgGrey p{
        font-size: 1.3rem;
        margin: 0;
    }
    .carousel-indicators{
        z-index: 0;
        margin: 0;
    }
    .carousel-caption{
        padding: 0;
    }
    .carousel-control-next, .carousel-control-prev{
        z-index: 0;
        opacity: 0;
    }
    .carousel-caption{
        right: 0;
        left: 0;
    }
}


@media screen and (max-width:414px) {
    .lema{
        width: 10rem;
        font-size: 1.7rem;
        padding: 0;
        margin-top: 2rem;
        margin-left: 5rem;
    }
    .bgGrey{
        height: auto;
        width: 99%;
        margin:-1rem auto;
        padding: 0 1rem;
    }
    .bgGrey h2{
        font-size: 2.2rem;
    }
    .bgGrey p{
        font-size: 1.7rem;
    }
}


@media screen and (max-width:375px) {
    .bgGrey h2{
        font-size: 1.7rem;
    }
    .bgGrey p{
        font-size: 1.4rem;
    }
}